.show {
  &:last-child {
    margin-bottom: 90px;
  }
  .box {
    transition: 0.3s ease-in;
    flex: 0 0 150px;
    &:active {
      scale: 0.95;
    }
    &:hover {
      &::before {
        opacity: 0;
        pointer-events: none;
      }
    }
    &::before {
      background: linear-gradient(to top, var(--mainColor), transparent);
      bottom: 0;
      transition: 0.2s ease-in;
    }
  }
}

@media (max-width: 772px) {
  .box {
    flex: 0 0 120px;
  }
}
